:host {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

table {
  width: 100%;

  .title-holder {
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 10px;
  }
  .table-title {
    background-color: white;
    padding: 15px;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
  }
  .title-header {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.5px;
    margin: 5px;
  }

  .table-header {
    width: 15%;
    padding-right: 3rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .table-cell {
    text-align: left;
    border: none;
  }

  .table-img {
    margin: 1rem;
    border-bottom-style: none;
  }
}
